.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

.paginator {
    cursor: pointer;
    margin: 10px;
    display: flex;
}

.prev {
    margin-right: 5px;
}

.next {
    margin-left: 5px;
}

.pageNumber {
    padding: 3px;
    border: 1px solid grey;
}

