.header {
    grid-area: header;
    background-color: #ccc;
}

.header img {
    width: 50px;
    margin: 20px;
}

.loginBlock {
    margin: 10px;
    float: right;
}

.loginBlock button {
    display: block;
}

.loginBlock a {
    color: #fff;
}
