.App-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas:
    'header header'
    'bar content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 5px; */
}

.App-wrapper-style {
  grid-area: content;
  background-color: #ccc;
}
